
.clients {
    margin-top: 10rem;
    &__title{
        color: white;
        padding-left: 2.5%;
        padding-top: 2rem;
    }
    &__brands{
        margin: 3rem 0;
        display: grid;
        justify-items: center;
        justify-content: center;
    }
    &__img {
        height: 13.7rem;
        filter: saturate(0%);
        @media (max-width: 500px) {
            height: 8rem;;
        }
        &:hover {
            filter: none;
        }
        &--anc{
            height: 8.2rem;
            justify-items: center;
            align-items: center;
            @media (max-width: 500px) {
                height: 5rem;
            }
        }
        &--none{
            display: none;
            @media (max-width: 1200px) {
                display: block;
            }
        }
        &--block{
            @media (max-width: 1200px) {
                display: none;
            }
        }
    }
}

.rowone {
    display: grid;
    margin-top: 5rem;
    justify-items: center;
    align-items: center;
    gap: 2%;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
}

.rowtwo {
    display: grid;
    gap: 2%;
    margin: 5rem 0;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}