.content {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 25rem;
  gap: 2%;
  // width: 100%;
  // max-width: 144rem;
  @media (max-width: 500px) {
    display: block;
  }
  &__container{
    position: relative;
  }

  &__img {
    position: absolute;
    right: 0rem;
    // @media (max-width: 1000px) {
      //   width: auto;
      // }
      @media (max-width: 500px) {
        width: 96%;
        left: -40%;
      }
      &--right {
        // overflow-x:visible;
        position: relative;
        left: -6rem;
        @media (max-width: 500px) {
        position: absolute;
        width: 96%;
        top: 2rem;
        left: unset;
        right: -40%;
      }
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 7.2rem;
    @media (max-width: 500px) {
    padding-left: 0;
    }
  }

  &__tittle{
    grid-column: span 2;
    &::before{
      content: 'Lorem ipsum, dolor sit amet';
      font-size: 1.6rem;
      display: block;
      margin-top: 2rem;
      margin-bottom: 3rem;
      @media (max-width: 500px) {
        font-size: 1.4rem;
        padding-left: 0%;
        margin-bottom: 1rem;
      }
    }
    &::after{
      margin-top: 2rem;
      content: 'Facilita la manera en la que trabajas al dejar el trabajo de publicidad en nuestras manos';
      font-size: 1.9rem;
      display: block;
      @media (max-width: 500px) {
        margin-top: 2rem;
        font-size: 1.5rem;
        margin: 3rem 0 2rem;
      }
    }
    @media (max-width: 500px) {
      padding-top: 2rem;
      margin-bottom: 5rem;
      &--left{
        padding-left: 40%;
        &::after{
          padding-left: 35%;
        }
      }
      &--right{
        padding-right: 40%;
        &::after{
          padding-right: 25%;
        }

      }
    }
  }
  &__icons{
    @media (max-width: 500px) {
    margin: 0 3rem;
    grid-column: span 2;
    }
    &::before{
      content: '';
      display: block;
      background-image: url(/styles/image/icons/Lightbulb-alt.png);
      background-repeat: no-repeat;
      height: 7rem;
    }
    &--pie::before{
      background-image: url(/styles/image/icons/Chart-pie.png);
    }
    &--invoice::before{
      background-image: url(/styles/image/icons/Invoice.png);
    }
    &--flask::before{
      background-image: url(/styles/image/icons/Flask-alt.png);
    }
    &--edit::before{
      background-image: url(/styles/image/icons/Edit.png);
    }
    &--file::before{
      background-image: url(/styles/image/icons/File-user.png);
    }
    &--print::before{
      background-image: url(/styles/image/icons/Printer.png);
    }
    &--clip::before{
      background-image: url(/styles/image/icons/Clipboard.png);
    }
  }
}

.test{
  position: relative;
  width: 100%;
}