.content {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 25rem;
  gap: 2%;
  @media (max-width: 1050px) {
    margin-top: 0;
  }
  @media (max-width: 500px) {
    display: block;
  }
  &__container {
    position: relative;
  }

  &__img {
    position: absolute;
    right: 0rem;
    @media (max-width: 500px) {
      height: 32rem;
      right: 48%;
    }
    &--right {
      position: relative;
      left: -6rem;
      @media (max-width: 500px) {
        position: absolute;
        width: 34rem;
        top: 0rem;
        left: unset;
        left: 40%;
      }
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 7.2rem;
    max-height: 70rem;
    @media (max-width: 1050px) {
      display: block;
      padding-left: 0;
      max-height: none;
    }
  }

  &__tittle {
    grid-column: span 2;
    @media (max-width: 500px) {
      padding-bottom: 5rem;
    }
    &::before {
      content: "Redes Sociales";
      font-size: 1.6rem;
      display: block;
      margin-top: 2rem;
      margin-bottom: 3rem;
      @media (max-width: 500px) {
        font-size: 1.4rem;
        padding-left: 0%;
        margin-bottom: 1rem;
      }
    }
    &::after {
      margin-top: 2rem;
      content: "Facilita la manera en la que trabajas al poner el trabajo de publicidad en nuestras manos";
      font-size: 1.9rem;
      display: block;
      @media (max-width: 500px) {
        margin-top: 2rem;
        font-size: 1.5rem;
        margin: 3rem 0 2rem;
      }
    }
    @media (max-width: 500px) {
      padding-top: 2rem;
      margin-bottom: 5rem;
      &--left {
        padding-left: 40%;
        &::after {
          padding-left: 35%;
        }
      }
      &--right {
        padding-right: 40%;
        &::after {
          padding-right: 25%;
        }
      }
    }
  }
  &__icons {
    @media (max-width: 500px) {
      margin: 0 3rem;
      grid-column: span 2;
    }
    @media (max-width: 1050px) {
      margin-top: 5rem;
    }
    &::before {
      content: "";
      display: block;
      background-image: url(/styles/image/icons/Lightbulb-alt.png);
      background-repeat: no-repeat;
      height: 7rem;
    }
    &--pie::before {
      background-image: url(/styles/image/icons/Chart-pie.png);
    }
    &--invoice::before {
      background-image: url(/styles/image/icons/Invoice.png);
    }
    &--flask::before {
      background-image: url(/styles/image/icons/Flask-alt.png);
    }
    &--edit::before {
      background-image: url(/styles/image/icons/Edit.png);
    }
    &--file::before {
      background-image: url(/styles/image/icons/File-user.png);
    }
    &--print::before {
      background-image: url(/styles/image/icons/Printer.png);
    }
    &--clip::before {
      background-image: url(/styles/image/icons/Clipboard.png);
    }
  }
}
