.content {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20rem;
  @media (max-width: 500px) {
    display: block;
  }
  &__container{
    position: relative;
  }

  &__img {
    position: absolute;
    right: 0rem;
    // @media (max-width: 1000px) {
    //   width: auto;
    // }
    @media (max-width: 500px) {
      width: 96%;
      // height: 100%;
      left: -40%;
      // max-height: 340rem;
    }
    &--right{
      right: unset;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 7.2rem;
    padding-left: 5%;
    @media (max-width: 500px) {
    padding-left: 0;
    }
  }

  &__tittle{
    grid-column: span 2;
    @media (max-width: 500px) {
      padding-top: 2rem;
      padding-left: 40%;
      margin-bottom: 5rem;
    }
    &::before{
      content: 'Lorem ipsum, dolor sit amet';
      font-size: 1.6rem;
      display: block;
      margin-top: 1rem;
      margin-bottom: 3rem;
      @media (max-width: 500px) {
        font-size: 1.4rem;
        padding-left: 0%;
        margin-bottom: 1rem;
      }
    }
    &::after{
      content: 'Facilita la manera en la que trabajas al dejar el trabajo de publicidad en nuestras manos';
      font-size: 1.9rem;
      display: block;
      margin: 3rem 0 2rem;
      @media (max-width: 500px) {
        margin-top: 2rem;
        font-size: 1.5rem;
        padding-left: 35%;
      }
    }
  }
  &__icons{
    @media (max-width: 500px) {
    margin: 0 3rem;
    grid-column: span 2;
    }
    &::before{
      content: '';
      display: block;
      background-image: url(/styles/image/icons/Lightbulb-alt.png);
      background-repeat: no-repeat;
      height: 5rem;
   }
  }
}

.contban {
  display: block;
  height: 21rem;
  background-color: $yellow;
  width: 100%;
  top: 105rem;
  position: absolute;
  z-index: -3;
  @media (max-width: 500px) {
    height: 27rem;
    top: 145rem;
  }
}

// .banner {
//   display: block;
//   height: 32rem;
//   background-color: $yellow;
//   width:100%;
//   top: 13rem;
//   right: 0rem;
//   position: absolute;
//   z-index: -3;
// }