@import "variables";

.footer {
    height: 15rem;
    background-color: $yellow;
    // width: 100vw;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    gap: 5rem;
    align-items: center;


    &__social{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}