@import "variables";

.navbar {
  display: grid;
  place-items: center;
  padding-top: 4rem;
  gap: 3rem;
  grid-template-columns: 0.5fr 4.5fr 10fr;
  border-radius: 3rem;
  z-index: 1;
  @media (max-width: 800px) {
    grid-template-columns: 5% 5% 1fr;;
  }

  &__logo{
    height: 40px;
  }

  &__menu{
    display: none;
    height: 3rem;
    z-index: 1;
    @media (max-width: 800px) {
      display: block;
    }
  }

  &__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 800px) {
      // position: absolute;
      display: none;
    }

    // &--hiden{
    //   @media (max-width: 800px) {
    //     display: block;
      // }
    // }
  }

  &__button {
    height: 40px;
    margin-left: auto;
    background-color: #ffffff;
    border: 3px solid $orange-strong;
    padding-inline: 20px;
    
    &:hover {
    border-color: $orange-opaque;
      }
  }

  &__links {
    height: 4rem;
    display: grid;
    place-content: center;
    width: 10rem;
    &:hover {
      text-decoration: none;
      background-color: $orange-light;
    }
  }
  
  &__mobile{
    position: absolute;
    top: 2rem;
    left: 5rem;
    gap: 1rem;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    animation: 300ms pageLoad ease-in;
  }
  
  &__lmobile{
    background-color: $orange-light;
    display: grid;
    place-content: center;
    height: 4rem;
    width: 10rem;
  }
}

.span3{
  grid-column: span 3;
  margin-left: 7rem;
}