@import "variables";

.navbar {
  display: grid;
  place-items: center;
  padding-top: 4rem;
  gap: 3rem;
  grid-template-columns: 0.5fr 4.5fr 10fr;
  border-radius: 3rem;
  z-index: 1;
  @media (max-width: 800px) {
    gap: 1rem;
    grid-template-columns: 0.5fr 0.5fr 9fr;
  }

  &__logo {
    height: 40px;
  }

  &__menu {
    display: none;
    height: 3rem;
    z-index: 1;
    @media (max-width: 800px) {
      display: block;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__button {
    height: 40px;
    margin-left: auto;
    background-color: #ffffff;
    border: 3px solid $orange-strong;
    padding-inline: 20px;
    &--shorttxt {
      display: none;
      @media (max-width: 500px) {
        display: block;
      }
    }
    &--longtxt {
      @media (max-width: 500px) {
        display: none;
      }
    }

    &:hover {
      border-color: $orange-opaque;
    }
  }

  &__links {
    height: 4rem;
    display: grid;
    place-content: center;
    width: 10rem;
    &:hover {
      text-decoration: none;
      background-color: $orange-light;
    }
  }

  &__mobile {
    position: absolute;
    top: 4rem;
    left: 10%;
    gap: 1rem;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    animation: 300ms pageLoad ease-in;
  }

  &__lmobile {
    background-color: $orange-light;
    display: grid;
    place-content: center;
    height: 4rem;
    width: 10rem;
  }
}

.span3 {
  grid-column: span 3;
  margin-left: 7rem;
}

// hamburger btn

.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 23px;
  height: 2px;
  background-color: black;
  transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
  border-radius: 1rem;
}

.icon-1 {
transform: translateY(-8px);
animation-delay: 100ms;
}

.icon-3 {
transform: translateY(8px);
animation-delay: 250ms;
}

.hamburger-icon {
position: relative;
height: 47px;
width: 47px;
cursor: pointer;
transition: all 0.2s ease-in-out;
}

.icon-1.a {
transform: rotate(40deg);
}
.icon-3.b {
transform: rotate(-40deg);
}
.icon-2.c {
opacity: 0;
}


