@import "variables";

.prices {
  position: relative;
  &__container {
    display: grid;
    justify-items: center;
    padding-top: 8.4rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    @media (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 10rem;
    }
    @media (max-width: 800px) {
      grid-template-columns: auto;
      padding: 10% 0;
    }
  }
  &__card {
    padding: 1.6rem 2.6rem;
    display: grid;
    height: 59.4rem;
    max-width: 30.2rem;
    min-width: 28rem;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.26);
  }
  &__price {
    font-size: 3.7rem;
  }
  &__description {
    font-size: 1.5rem;
    &::before {
      display: inline-block;
      content: "";
      width: 3rem;
      height: 2rem;
      background-size: 3rem;
      background-image: url(/styles/image/icons/Check.png);
      background-repeat: no-repeat;
    }
  }
  &__icon {
    &::before {
      display: block;
      content: "";
      height: 5rem;
      background-image: url(/styles/image/icons/Clipboard-alt.png);
      background-repeat: no-repeat;
      filter: saturate(0%);
    }
  }
  &__button {
    background-color: $orange-light;
    border-radius: 13px;
    border: none;
    height: 4.3rem;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background-color: $yellow;
    }
  }
}
