@import "navbar";
@import "hero";
@import "content";
@import "reviews";
@import "variables";
@import "clients";
@import "mixins";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.button {
  border-radius: 27px;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  width: 128rem;
  background-color: white;
}

body {
  background-color:aliceblue;
}

h1 {
  font-size: 6.4rem;
}

p {
font-size: 2rem;
}