@import "navbar";
@import "hero";
@import "content";
@import "footer";
@import "variables";
@import "clients";
@import "prices";
@import "animations";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.overflow {
  width: 100vw;
  overflow: hidden;
}

.button {
  border-radius: 27px;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  max-width: 140rem;
  min-width: 35rem;
  padding: 0 4%;
}

h1 {
  font-size: 4.5rem;
  font-family: 'Akshar', sans-serif !important;
  font-weight: 400;
}

h1 span{
  font-weight: 700;
  font-size: 7rem;
}

h2 {
  font-size: 4.6rem;
  font-family: 'Akshar', sans-serif;
  @media (max-width: 500px) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.1rem;
  line-height: 3.2rem;
  @media (max-width: 500px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.9rem;
  line-height: 2.8rem;
  font-weight: 400;
  @media (max-width: 500px) {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.6rem;
  color: black;
}

.banner {
  position: absolute;
  background-color: $yellow;
  height: 21rem;
  width: 100vw;
  z-index: -3;
  transform: translateX(-50vw);
  left: 50%;

  &--hero {
    top: 15rem;
    height: 31.5rem;
    @media (max-width: 850px) {
      top: 11rem;
    }
    @media (max-width: 500px) {
      top: 10rem;
    }
  }
  &--content1 {
    top: 7.2rem;
    height: 21rem;
    @media (max-width: 1050px) {
      height: 26rem;
    }
    @media (max-width: 500px) {
      top: 2.5rem;
    }
  }
  &--content2 {
    top: 7.2rem;
    height: 21rem;
    @media (max-width: 1050px) {
      height: 26rem;
    }
    @media (max-width: 500px) {
      top: 2.5rem;
    }
  }
  &--clients {
    height: 10rem;
  }
  &--prices {
    height: 23rem;
  }
}
