@import "navbar";
@import "hero";
@import "content";
@import "footer";
@import "variables";
@import "clients";
@import "prices";
@import "animations";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow {
  width: 100vw;
  overflow: hidden;
}

.button {
  border-radius: 27px;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  width: 100vw;
  max-width: 140rem;
  min-width: 25rem;
  padding: 0 4%;
}

h1 {
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  @media (max-width: 1100px) {
    font-size: 44.1px;
  }
  @media (max-width: 850px) {
    font-size: 3.5rem;
    line-height: 150%;
  }
  @media (max-width: 500px) {
    font-size: 3rem;
    line-height: 100%;
  }
}

h1 span {
  font-weight: 700;
  font-size: 70px;
  margin-top: 2rem;
  @media (max-width: 1100px) {
    font-size: 60.1px;
  }
  @media (max-width: 850px) {
    font-size: 5rem;
  }
  @media (max-width: 850px) {
    font-size: 4rem;
    line-height: 100%;
  }
}

h2 {
  font-size: 4.6rem;
  font-family: "Akshar", sans-serif;
  @media (max-width: 1200px) {
    font-size: 3.6rem;
  }
  @media (max-width: 500px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2.1rem;
  line-height: 3.2rem;
  @media (max-width: 500px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.9rem;
  line-height: 2.8rem;
  font-weight: 400;
  @media (max-width: 500px) {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.6rem;
  color: black;
}
button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.banner {
  position: absolute;
  background-color: #f6b645;
  height: 21rem;
  width: 100vw;
  z-index: -3;
  transform: translateX(-50vw);
  left: 50%;
  overflow: hidden;
  &--hero {
    background: linear-gradient(180deg, #d8d6de 0%, #ffefe0 100%);
    top: -0.1rem;
    height: 100vh;
  }
  &--content1 {
    top: 7.2rem;
    height: 21rem;
    overflow: hidden;
    @media (max-width: 920px) {
      height: 28.5rem;
    }
    @media (max-width: 500px) {
      top: 2.5rem;
    }
  }
  &--content2 {
    top: 7.2rem;
    height: 21rem;
    overflow: hidden;
    @media (max-width: 920px) {
      height: 28.5rem;
    }
    @media (max-width: 500px) {
      top: 2.5rem;
    }
  }
  &--clients {
    height: 10rem;
    overflow: hidden;
  }
  &--prices {
    height: 23rem;
    overflow: hidden;
  }
  &--footer {
    height: 20rem;
    overflow: hidden;
    @media (max-width: 800px) {
      height: 25rem;
    }
  }
}
