.navbar {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 2.4rem;
  height: 4rem;
  gap: 3rem;
  -ms-grid-columns: (1fr)[4] 10fr;
      grid-template-columns: repeat(4, 1fr) 10fr;
}

.navbar__button {
  height: 40px;
  margin-left: auto;
  background-color: #ffffff;
  border: 3px solid #F5A302;
  padding-inline: 20px;
}

.navbar__button:hover {
  border-color: #FBCF79;
}

.logonav {
  height: 40px;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 93rem;
}

@media (max-width: 1300px) {
  .hero {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
}

@media (max-width: 800px) {
  .hero {
    display: block;
    height: auto;
  }
}

.hero__right {
  position: relative;
}

@media (max-width: 800px) {
  .hero__right {
    height: 85rem;
  }
}

@media (max-width: 500px) {
  .hero__right {
    height: 50rem;
  }
}

.hero__title {
  background-color: #FDC80E;
  height: 31.5rem;
  margin-top: 9rem;
  padding-top: 5rem;
}

.hero__button {
  font-size: 1.6rem;
  height: 5.7rem;
  width: 28rem;
  background-color: #FDC80E;
  border: none;
  margin-left: 3rem;
}

.hero__button:hover {
  background-color: #FBCF79;
}

.hero__description {
  margin: 2.5rem 0rem 2.5rem;
}

.blob {
  position: absolute;
  justify-items: left;
  top: 5rem;
}

@media (max-width: 1000px) {
  .blob {
    height: 71.4rem;
  }
}

@media (max-width: 500px) {
  .blob {
    height: 40rem;
  }
}

.blob__mid {
  position: absolute;
  height: 54.7rem;
  top: 19rem;
}

@media (max-width: 1000px) {
  .blob__mid {
    height: 45.5rem;
    top: 15rem;
  }
}

@media (max-width: 500px) {
  .blob__mid {
    height: 25.4rem;
    top: 11rem;
  }
}

.blob__front {
  position: absolute;
  z-index: 3;
  top: 65.2rem;
  left: 12.3rem;
}

@media (max-width: 1000px) {
  .blob__front {
    height: 21.6rem;
    top: 55rem;
    left: 10.1rem;
  }
}

@media (max-width: 500px) {
  .blob__front {
    height: 12.1rem;
    top: 33rem;
    left: 5.6rem;
  }
}

.brand {
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  height: 93rem;
}

.content__img {
  grid-row: span 3;
  width: 100%;
}

.content__tittle {
  background-color: #FDC80E;
  grid-column: span 2;
}

.content__p {
  background-color: #7ec27e;
  margin: 0%;
}

.clients__brands {
  display: -ms-grid;
  display: grid;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.button {
  border-radius: 27px;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  max-width: 144rem;
  background-color: white;
}

body {
  background-color: aliceblue;
}

h1 {
  font-size: 5.4rem;
}

p {
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */