@charset "UTF-8";
.navbar {
  display: grid;
  place-items: center;
  padding-top: 4rem;
  gap: 3rem;
  grid-template-columns: 0.5fr 4.5fr 10fr;
  border-radius: 3rem;
  z-index: 1;
}
@media (max-width: 800px) {
  .navbar {
    gap: 1rem;
    grid-template-columns: 0.5fr 0.5fr 9fr;
  }
}
.navbar__logo {
  height: 40px;
}
.navbar__menu {
  display: none;
  height: 3rem;
  z-index: 1;
}
@media (max-width: 800px) {
  .navbar__menu {
    display: block;
  }
}
.navbar__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 800px) {
  .navbar__container {
    display: none;
  }
}
.navbar__button {
  height: 40px;
  margin-left: auto;
  background-color: #ffffff;
  border: 3px solid #f5a302;
  padding-inline: 20px;
}
.navbar__button--shorttxt {
  display: none;
}
@media (max-width: 500px) {
  .navbar__button--shorttxt {
    display: block;
  }
}
@media (max-width: 500px) {
  .navbar__button--longtxt {
    display: none;
  }
}
.navbar__button:hover {
  border-color: #fbcf79;
}
.navbar__links {
  height: 4rem;
  display: grid;
  place-content: center;
  width: 10rem;
}
.navbar__links:hover {
  text-decoration: none;
  background-color: #fff0d2;
}
.navbar__mobile {
  position: absolute;
  top: 4rem;
  left: 10%;
  gap: 1rem;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-animation: 300ms pageLoad ease-in;
          animation: 300ms pageLoad ease-in;
}
.navbar__lmobile {
  background-color: #fff0d2;
  display: grid;
  place-content: center;
  height: 4rem;
  width: 10rem;
}

.span3 {
  grid-column: span 3;
  margin-left: 7rem;
}

.hero {
  margin-top: -3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 850px) {
  .hero {
    display: block;
    margin-bottom: 8rem;
  }
}
.hero__right {
  position: relative;
}
@media (max-width: 850px) {
  .hero__right {
    height: 70rem;
  }
}
@media (max-width: 500px) {
  .hero__right {
    height: 40rem;
  }
}
.hero__title {
  height: 31.5rem;
  margin-top: 14rem;
  margin-left: -4rem;
  color: white;
}
.hero__title--big {
  font-size: 9.2rem;
}
@media (max-width: 1400px) {
  .hero__title {
    margin-top: 12.5rem;
    line-height: 100%;
    display: grid;
    margin-left: 10rem;
  }
  .hero__title span {
    margin-left: -10rem;
  }
}
@media (max-width: 850px) {
  .hero__title {
    margin-top: 8.5rem;
  }
}
@media (max-width: 500px) {
  .hero__title {
    margin-top: 7rem;
  }
}
.hero__button {
  font-size: 1.6rem;
  height: 5.7rem;
  width: 28rem;
  background-color: #F6B645;
  border: none;
  margin-left: 3rem;
}
@media (max-width: 1100px) {
  .hero__button {
    height: 4rem;
    width: 20rem;
  }
}
.hero__button:hover {
  background-color: #fbcf79;
}
.hero__description {
  font-size: 2.4rem;
}

@media (max-width: 1100px) {
  .lg--text {
    display: none;
  }
}

@media (min-width: 1100px) {
  .sm--text {
    display: none;
  }
}

.blob {
  position: absolute;
  top: 5rem;
}
@media (max-width: 1300px) {
  .blob {
    height: 71.4rem;
  }
}
@media (max-width: 500px) {
  .blob {
    height: 40rem;
  }
}
.blob__mid {
  position: absolute;
  height: 60rem;
  top: 12rem;
  left: -5rem;
}
@media (max-width: 1300px) {
  .blob__mid {
    height: 50rem;
    top: 10.5rem;
    right: -15rem;
  }
}
@media (max-width: 500px) {
  .blob__mid {
    height: 28rem;
    top: 9rem;
    left: -2rem;
  }
}
.blob__mid--2 {
  position: absolute;
  height: 65rem;
  top: 11rem;
  left: 15rem;
}
@media (max-width: 1300px) {
  .blob__mid--2 {
    height: 54rem;
    top: 9rem;
    left: 12rem;
  }
}
@media (max-width: 500px) {
  .blob__mid--2 {
    height: 30rem;
    top: 8rem;
    left: 7rem;
  }
}
.blob__mid--3 {
  position: absolute;
  height: 75rem;
  top: 10rem;
  left: 16rem;
}
@media (max-width: 1300px) {
  .blob__mid--3 {
    height: 62rem;
    top: 9.5rem;
    left: 13rem;
  }
}
@media (max-width: 500px) {
  .blob__mid--3 {
    height: 34rem;
    left: 8rem;
    top: 8rem;
  }
}
.blob__front {
  position: absolute;
  z-index: 3;
  top: 65.3rem;
  left: 12rem;
}
@media (max-width: 1300px) {
  .blob__front {
    height: 21.6rem;
    top: 55rem;
    left: 10.1rem;
  }
}
@media (max-width: 500px) {
  .blob__front {
    height: 12.1rem;
    top: 33.4rem;
    left: 5.6rem;
  }
}

.brand {
  height: 20rem;
  display: flex;
  align-items: center;
}
@media (max-width: 1300px) {
  .brand {
    height: 17rem;
  }
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 25rem;
  gap: 2%;
}
@media (max-width: 1050px) {
  .content {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .content {
    display: block;
  }
}
.content__container {
  position: relative;
}
.content__img {
  position: absolute;
  right: 0rem;
}
@media (max-width: 500px) {
  .content__img {
    height: 32rem;
    right: 48%;
  }
}
.content__img--right {
  position: relative;
  left: -6rem;
}
@media (max-width: 500px) {
  .content__img--right {
    position: absolute;
    width: 34rem;
    top: 0rem;
    left: unset;
    left: 40%;
  }
}
.content__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 7.2rem;
  max-height: 70rem;
}
@media (max-width: 1050px) {
  .content__text {
    display: block;
    padding-left: 0;
    max-height: none;
  }
}
.content__tittle {
  grid-column: span 2;
  color: white;
}
@media (max-width: 500px) {
  .content__tittle {
    padding-bottom: 5rem;
  }
}
.content__tittle::before {
  content: "Comunica desde la verdad";
  font-size: 2rem;
  font-weight: 100;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  .content__tittle::before {
    font-size: 1.4rem;
    padding-left: 0%;
    margin-bottom: 1rem;
  }
}
.content__tittle::after {
  margin-top: 2rem;
  content: "Somos tu aliado estratégico al momento de comunicarte con tu público objetivo a través de los siguientes servicios.";
  font-size: 1.9rem;
  font-weight: 100;
  display: block;
}
@media (max-width: 500px) {
  .content__tittle::after {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin: 3rem 0 2rem;
  }
}
@media (max-width: 500px) {
  .content__tittle {
    padding-top: 2rem;
    margin-bottom: 5rem;
  }
  .content__tittle--left {
    padding-left: 40%;
  }
  .content__tittle--left::after {
    padding-left: 35%;
  }
  .content__tittle--right {
    padding-right: 40%;
  }
  .content__tittle--right::after {
    padding-right: 25%;
  }
}
@media (max-width: 500px) {
  .content__icons {
    margin: 0 3rem;
    grid-column: span 2;
  }
}
@media (max-width: 1050px) {
  .content__icons {
    margin-top: 5rem;
  }
}
.content__icons::before {
  content: "";
  display: block;
  background-image: url(/styles/image/icons/Lightbulb-alt.png);
  background-repeat: no-repeat;
  height: 7rem;
}
.content__icons--pie::before {
  background-image: url(/styles/image/icons/Chart-pie.png);
}
.content__icons--invoice::before {
  background-image: url(/styles/image/icons/Invoice.png);
}
.content__icons--flask::before {
  background-image: url(/styles/image/icons/Flask-alt.png);
}
.content__icons--edit::before {
  background-image: url(/styles/image/icons/Edit.png);
}
.content__icons--file::before {
  background-image: url(/styles/image/icons/File-user.png);
}
.content__icons--print::before {
  background-image: url(/styles/image/icons/Printer.png);
}
.content__icons--clip::before {
  background-image: url(/styles/image/icons/Clipboard.png);
}

.footer {
  padding-top: 8rem;
}
.footer__line {
  margin: 5rem 0 2rem 0;
  height: 3px;
  background-color: white;
}
.footer__info {
  color: white;
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
}
@media (max-width: 850px) {
  .footer__info {
    grid-auto-flow: row;
    row-gap: 2rem;
  }
}
.footer__social {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.clients {
  margin-top: 10rem;
}
.clients__title {
  color: white;
  padding-left: 2.5%;
  padding-top: 2rem;
}
.clients__brands {
  margin: 3rem 0;
  display: grid;
  justify-items: center;
  justify-content: center;
}
.clients__img {
  height: 13.7rem;
  filter: saturate(0%);
}
@media (max-width: 500px) {
  .clients__img {
    height: 8rem;
  }
}
.clients__img:hover {
  filter: none;
}
.clients__img--anc {
  height: 8.2rem;
  justify-items: center;
  align-items: center;
}
@media (max-width: 500px) {
  .clients__img--anc {
    height: 5rem;
  }
}
.clients__img--none {
  display: none;
}
@media (max-width: 1200px) {
  .clients__img--none {
    display: block;
  }
}
@media (max-width: 1200px) {
  .clients__img--block {
    display: none;
  }
}

.rowone {
  display: grid;
  margin-top: 5rem;
  justify-items: center;
  align-items: center;
  gap: 2%;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1200px) {
  .rowone {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

.rowtwo {
  display: grid;
  gap: 2%;
  margin: 5rem 0;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1200px) {
  .rowtwo {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.prices__container {
  display: grid;
  padding-top: 8.4rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
}
@media (max-width: 1300px) {
  .prices__container {
    grid-template-columns: 1fr 1fr;
    row-gap: 10rem;
  }
}
@media (max-width: 800px) {
  .prices__container {
    grid-template-columns: auto;
    padding: 10% 0;
  }
}
.prices__card {
  padding: 1.6rem 2.6rem;
  display: grid;
  height: 59.4rem;
  width: 30.2rem;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.26);
}
.prices__price {
  font-size: 3.7rem;
  font-weight: bold;
  color: #9F9F9F;
}
.prices__description {
  font-size: 1.5rem;
}
.prices__description::before {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 2rem;
  background-size: 3rem;
  background-image: url(/styles/image/icons/Check.png);
  background-repeat: no-repeat;
}
.prices__icon::before {
  display: block;
  content: "";
  height: 5rem;
  background-image: url(/styles/image/icons/Clipboard-alt.png);
  background-repeat: no-repeat;
  filter: saturate(0%);
}
.prices__button {
  background-color: #fff0d2;
  border-radius: 13px;
  border: none;
  height: 4.3rem;
  cursor: pointer;
}
.prices__button:hover {
  text-decoration: none;
  background-color: #F6B645;
}

.animation__pageLoad {
  -webkit-animation: 300ms pageLoad ease-in;
          animation: 300ms pageLoad ease-in;
}
@-webkit-keyframes pageLoad {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pageLoad {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.animation__pageLoad--up {
  -webkit-animation: 300ms pageLoad--up ease-in;
          animation: 300ms pageLoad--up ease-in;
}
@-webkit-keyframes pageLoad--up {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pageLoad--up {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.animation__pageLoad--left {
  -webkit-animation: 300ms pageLoad--left ease-in;
          animation: 300ms pageLoad--left ease-in;
}
@-webkit-keyframes pageLoad--left {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pageLoad--left {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(7px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
.animation__bannerLoad {
  -webkit-animation: 1300ms bannerLoad ease-in;
          animation: 1300ms bannerLoad ease-in;
}
@-webkit-keyframes bannerLoad {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 10%;
    width: 0;
  }
  100% {
    opacity: 100%;
    width: 1;
  }
}
@keyframes bannerLoad {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 10%;
    width: 0;
  }
  100% {
    opacity: 100%;
    width: 1;
  }
}

.sprint {
  opacity: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow {
  width: 100vw;
  overflow: hidden;
}

.button {
  border-radius: 27px;
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  max-width: 140rem;
  min-width: 35rem;
  padding: 0 4%;
}

h1 {
  font-size: 4.5rem;
  font-family: "Akshar", sans-serif !important;
  font-weight: 400;
}

h1 span {
  font-weight: 700;
  font-size: 7rem;
}

h2 {
  font-size: 4.6rem;
  font-family: "Akshar", sans-serif;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.1rem;
  line-height: 3.2rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.9rem;
  line-height: 2.8rem;
  font-weight: 400;
}
@media (max-width: 500px) {
  p {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.6rem;
  color: black;
}

.banner {
  position: absolute;
  background-color: #F6B645;
  height: 21rem;
  width: 100vw;
  z-index: -3;
  transform: translateX(-50vw);
  left: 50%;
}
.banner--hero {
  top: 15rem;
  height: 31.5rem;
}
@media (max-width: 850px) {
  .banner--hero {
    top: 11rem;
  }
}
@media (max-width: 500px) {
  .banner--hero {
    top: 10rem;
  }
}
.banner--content1 {
  top: 7.2rem;
  height: 21rem;
}
@media (max-width: 1050px) {
  .banner--content1 {
    height: 26rem;
  }
}
@media (max-width: 500px) {
  .banner--content1 {
    top: 2.5rem;
  }
}
.banner--content2 {
  top: 7.2rem;
  height: 21rem;
}
@media (max-width: 1050px) {
  .banner--content2 {
    height: 26rem;
  }
}
@media (max-width: 500px) {
  .banner--content2 {
    top: 2.5rem;
  }
}
.banner--clients {
  height: 10rem;
}
.banner--prices {
  height: 23rem;
}
.banner--footer {
  height: 20rem;
}
@media (max-width: 800px) {
  .banner--footer {
    height: 25rem;
  }
}/*# sourceMappingURL=styles.css.map */